@charset "utf-8";

/*.borders {
  border: 2px solid red;
}*/

.defmargin {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding:0px;
  margin-bottom: 40px;
}

div {
  display: block;
}

a {
  color: #14213D
}

a:hover {
  color: #FCA311;
}

.eqheightrows {
  display: flex;
  align-items: center;
}

@media screen and (max-width:768px) {
  .eqheightrows {
  display: block;
  }
  .circle {
    /*border: 2px solid yellow;*/
    border-radius: 1px;
  }
}

.bg2 {
  background-color: #E5E5E5;
  color: #14213D;
}

.content {
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 42px;
}

.navbar-brand{
  font-weight: 600
}

.navbar-custom{
  color: #161616;
}

.navbar-custom:hover {
  color: #FCA311
}

.navbar {
  background-color: #E5E5E5;
}

.lefty li a{
  padding-left: 0px;
}

#anchora {
  margin-top: 20px;
}

.black {
  color: black;
  border-color: black;
  background-color: black;
}

/*CSS for old banner*/
.banner-grandparent{
  /*text-align: center;
  position: relative;*/
  display: table;
}

.banner-parent {
  position: absolute;
  display: table-cell;
  vertical-align: bottom;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.banner-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.indicators {
  position: absolute;
  width: 50%;
  left:25%;
  right:25%;
  bottom: 0px;
  text-align: center;
}

.banner-text {
  position: absolute;
  width:60%;
  left: 20%;
  right: 20%;
  top: 30%;
  text-align: center;
}

/*.htext:before {
   content: '';
   display: inline-block;
   height: 195%;
   vertical-align: middle;
}*/

.bannerimg {
  /*position: absolute;*/
  filter:brightness(35%);
  z-index: -1;
  position: relative;
  /*display: block;*/
  max-width: 100%;
  height: auto;
}

.circle {
	width: 16px;
  height: 16px;
  background: white;
  opacity: .4;
  border-radius: 8px;
}

.circle-selected {
  width: 16px;
  height: 16px;
  background: white;
  opacity: 1;
  border-radius: 8px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  color: #FFF;
  opacity: .85  ;
  font-size: 8vw;
  font-weight: 100;
  margin: auto;
  /*width: 60%;*/
  align-content: center;
}

.btn-resume {
  text-decoration: none;
  background-color: #FCA311;
  border: none;
  color: #FFF;
  font-size: 20px;
  font-weight: 100;
  padding: 5px 10px 5px 10px;
  border: 1px solid #FCA311;
  -webkit-transition-duration: 0.4s;
}

.btn-resume:hover {
  background-color: #FFF;
  border: 1px solid #FCA311;
  color: #FCA311;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerc {
  padding: 7px 2px 0px 2px;
}

.gallery {
}

#v-img {
  height: 500px;
  display: block;
  margin: auto;
}

.btn-gallery {
  text-decoration: none;
  background-color: #FFFFFF;
  border: none;
  padding: 15px 15px 15px 15px;
  border: 1px solid #FCA311;
  -webkit-transition-duration: 0.4s;
  margin-top: 200px;
  height: 100px;
  width: 100px;
}

.btn-gallery:hover {
  background-color: #FCA311;
  border: 1px solid #FCA311;
  color: #D3D3D3;}

.hcenter {
  width:20px;
  margin: auto;
}

.c-container{
  margin: 15px;
}

.img-c {
  height:100px;
  width:100px;
  margin: 15px
}

.contained-img {
  /*width: 100%;*/
}

.flexparent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flexchild{
  align-self: center;
}
